.PolaroidImage__container {
    height: 200px;
    width: 300px;
    flex-basis: 400px;
    flex-grow: 1;
    flex-shrink: 1;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);

    // column layout
    @media (max-width: 1000px) {
        width: 300px;
        flex-basis: 200px;
    }

    &:hover {
        box-shadow: none;
    }
}

img.PolaroidImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.PolaroidImage__description {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    color: black;
    padding: 1rem;
    font-family: 'Poppins', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    animation-duration: 800ms;
    animation-timing-function: ease-in-out;
    animation-name: bounceIn;
}
